.formDiv {
    background-color: #fefefe;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 30vh;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titleH1 {
    color: #8a8a8a;
    padding-bottom: 15px;
    left: auto;
    top: 360px;
}

/* .line {
    position: absolute;
    width: 220px;
    left: auto;
    top: 360px;
    border: 1px solid #8A8A8A;   
} */
.user {
    padding-top: 25px;
    display: block;
    width: 100%;
    text-align: left;
}
.email {

    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    border: none;
    border-bottom: 2px solid #6b6a6a;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.email:focus {
    border-bottom: 2px solid #EB268F;
  }

.userPassword {
    outline: none;
    display: block;
    width: 100%;
    text-align: left;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-bottom: 2px solid #6b6a6a;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.password:focus {
    border-bottom: 2px solid #EB268F;
}

.login{

    border: none;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #EB268F;
    cursor: pointer;
    
}

.login:hover {
    background-color: #743a59;
    transition: .5s;  
}

.forgotPassword {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    color: #0076A8;
    margin-top: 20px;
} 

.alertContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    width: 300px;
    box-sizing: border-box;
  }