/* footer.module.css */

.Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #eb268f;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  