.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    overflow-x: hidden;
    transition: all 0.2s ease-out;
  }
  
  .menu-container.open {
    width: 250px;
  }
  
  .menu-icon{
    position: fixed;
    top: 60px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
  }
  .menu-icon .line {
    width: 25px;
    height: 3px;
    background-color: #EB268F;
    margin: 5px 0;
  }

  .menu-items {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-items li {
    margin: 10px 0;
  }
  
  .menu-items a {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #EB268F;
    text-decoration: none;
    transition: all 0.2s ease-out;
  }
  
  .menu-items a:hover {
    background-color: #eee;
  }
  
  .menu-items ul ul {
    margin-left: 20px;
    display: none;
  }
  
  .menu-items ul li:hover ul {
    display: block;
  }
  