.welcome h3 {
  background-color: #eb268f;
  padding: 10px 15px;
  color: #fff;
  font-size: 1.4em;
  border-radius: 2px;
}
.welcome .welcomeNotifications {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.welcomeNotifications > div {
  flex-grow: 1;
  margin-top: 40px;
  display: flex;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 1px 3px 3px 0px rgba(119, 119, 119, 1);
  -moz-box-shadow: 1px 3px 3px 0px rgba(119, 119, 119, 1);
  box-shadow: 1px 3px 3px 0px rgba(119, 119, 119, 1);
}
.content {
  flex: 3;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
}
.content svg {
  transform: scale(-1, 1);
  font-size: 2.5em;
}
.basicas .content svg {
  transform: scale(-1, -1);
  font-size: 3em;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.counter {
  flex: 1;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notify {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid rgba(119, 119, 119, 0.5);
}
.notify div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.notify div p {
  text-align: center;
}
.notify div span {
  font-weight: bolder;
  font-size: 1.8em;
}
